@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.cdnfonts.com/css/miama');
.miama-font{
  font-family: 'Miama', sans-serif;
}
                                                

body{
  color: rgb(255, 255, 255);
  background-color: black;
}


/* Sheared styles */

.shape{
  font-size: 4.9rem;
  font-weight: 500;  
                                        
}

.display-flex{
  display: flex;
}

/* dark-2 */
.light-gray{
  color:  rgb(255, 255, 255);
}

/* dark-3 */
.text-gray{
  color: rgba(255, 255, 255, 0.5);
}

.btn-primary{
  width: 14rem;
  height: 3.38rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0 0.8rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 2.7rem;
  background: rgb(230, 83, 60);
}

.btn{
  width: 14rem;
  height: 3.38rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background: none;
  margin: 0 0.8rem;
  padding: 1rem 2.5rem 1rem 2.5rem;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2.6rem;
}



/* Header part styles start here */

.banner{
  max-width: 1440px;
  height: 715px;
  margin: 0 auto;
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}


/* navbar styles start here */

.navbar{
width: 80%;
margin: 0 auto;
justify-content: space-between;
align-items: center;
}

.brand{
  font-size: 2.2rem;
  font-weight: 800;
  font-style: italic;
  color: rgb(230, 83, 60);
}

.nav-item{
  list-style: none;
  margin-right: 3rem;
}

.home{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0 10px;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  border-radius: 2.9rem;
  background: rgb(230, 83, 60);
}


.nav-link{
  text-decoration: none;
 }

.nav-link-v2{
  font-size: 1.125rem;
  font-weight: 400;
}

/* navbar styles end here */


/* banner-content styles start here */

.banner-content{
  max-width: 38rem;
  height: 28rem;
  margin-top: 5rem;
  margin-left: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.banner-title{
  margin-top: 0;
  width: 33rem;
  height: 17.5rem;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 1rem;
}

.banner-description{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

div img{
  width: 21rem;
  height: 36rem;
  margin-left: 56.80rem;
  margin-top: -200rem;
}

.free-wrk{
  width: 12rem;
  height: 6.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid  rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  backdrop-filter: blur(1.4rem);
  background: rgba(255, 255, 255, 0.1);
  margin-left: 69.1875rem;
  margin-top: -28.125rem;
}

.fr-pw{
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

.fr-cm{
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
}


.Video-tut{
  width: 12.87rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius:  0.75rem;
  backdrop-filter: blur(1.4rem);
  background: rgba(48, 48, 48, 0.54);
  margin-left: 49rem;
  margin-top: 12rem;
}

.sercle{
  width: 2rem;
  height: 2rem;
  border: 1px solid  rgb(230, 83, 60);;
  background-color:  rgb(230, 83, 60);
  border-radius: 50%;
}


.vd-p{
  font-size: 1.7rem;
  font-weight: 1.6rem;
  margin-top: 0;
  margin-bottom: 0;
}

.vd-c{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(239, 237, 232, 0.65);;
}


@media screen and (max-width: 576px) {
  .banner{
    flex-direction: column;
  }
}